.collapse{
  cursor: pointer;
  display: block;
  background: #99ccff;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}