<!doctype html>
<title>Currency rates</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<div class="page">
  <h1>Currency rates</h1>
  {% block body %}
  {% endblock %}
</div>