{% extends "base.html" %}
{% block body %}
    <div class="main">
        <h2>Select currency to get monthly historical rates for it:</h2>
        <form action="/" method="post">
            <select name="currency" title="Currency">
                {% for currency, name in currencies.items() %}
                    <option value="{{ currency }}">{{ currency }} - {{ name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Show">
        </form>
    </div>
{% endblock %}