{% extends "base.html" %}
{% block body %}
    <h3>Click on date to unwrap table</h3>
    <div class="rates">
        {% if rates is not none %}
            {% for date, values in rates.items() %}
                <label class="collapse" for="{{ date }}_collapse"><b>{{ date }}</b></label>
                <input id="{{ date }}_collapse" type="checkbox" title="">
                <div>
                    <table class="rates-table">
                        <tr>
                            <th>Currency</th>
                            <th>Rate</th>
                        </tr>
                        {% for currency, rate in values.items() %}
                            <tr>
                                <td><b>[{{ currency }}] {{ currencies[currency] }}</b></td>
                                <td>{{ rate }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <em>
                {% if error %}
                    {{ error }}
                {% else %}
                    Strange times, no rates. E-he-he.
                {% endif %}
            </em>
        {% endif %}
    </div>
{% endblock %}